<div class="panel panel-primary" ng-init="getLDAPUserList()">
	<div class="panel-heading">
		<div class="row">
			<div class="col-sm-12">
				<span>User List</span>
<!-- 				<button class="btn btn-default pull-right" ui-sref="dashboard.sendUserNotification">Add Notification</button> -->
			</div>
		</div>
	</div>
	<div class="panel-body">
			

<!-- 		<table class="table table-bordered bordered table-striped table-condensed datatable" ui-jq="dataTable" ui-options="dataTableOpt"> -->
<!-- <table ng-table="userListTable" class="table" show-filter="true"> -->
			
<!-- 			<tr ng-repeat="user in $data"> -->

<!--  				<td data-title="'#'">{{($index+1) + (userListTable.page() - 1) * userListTable.count() }}</td> --> 
<!-- 				<td title="'First Name'" filter="{'first_name': 'text'}" sortable="'first_name'"> {{user.first_name}}</td> -->
<!-- 				<td title="'Last Name'" filter="{'last_name': 'text'}" sortable="'last_name'"> {{user.last_name || '-'}}</td> -->
<!-- 				<td title="'Common Name'" filter="{'common_name': 'text'}" sortable="'common_name'"> {{user.common_name || '-'}}</td> -->
<!-- 				<td title="'Ser Name'" filter="{'ser_name': 'text'}" sortable="'ser_name'"> {{user.ser_name}}</td> -->
<!-- 				<td title="'Address'" filter="{'address': 'text'}" sortable="'address'"> {{user.address}}</td> -->
<!-- 				<td title="'Contact Number'" filter="{'contact_number': 'text'}" sortable="'contact_number'"> {{user.contact_number}}</td> -->
<!-- 			</tr> -->
<!-- 			<tr ng-if="$data.length <= 0" style="text-align: center;"> -->
<!-- 				<td colspan="10" style="background-color: #fbc0c0;">No Records found!!</td> -->
<!-- 			</tr> -->
<!-- </table> -->
	<table id="example" class="table display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th ng-repeat="(header, value) in ldapUserList[0]">
      {{header}}
    </th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th ng-repeat="(header, value) in ldapUserList[0]" ng-init="$last && initLDAPUserTbl()">
     <input type="text" placeholder="Search  {{header}}" />
    </th>
            </tr>
        </tfoot>
           </table> 
	</div>
</div>
    