<div class="panel panel-primary" ng-init="getLDAPUserList()">
	<div class="panel-heading">
		<div class="row">
			<div class="col-sm-12">
				<span>User List</span>
<!-- 				<button class="btn btn-default pull-right" ui-sref="dashboard.sendUserNotification">Add Notification</button> -->
			</div>
		</div>
	</div>
	<div class="panel-body">
	
		<table id="example" class="table display" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th ng-repeat="(header,value) in ldapUserList[0]">{{header}}
					</th>
				</tr>
			</thead>
			
			<tfoot>
				<tr>
					<th ng-repeat="(header,value) in ldapUserList[0]" ng-init="$last && initLDAPUserTbl()"><input type="text" placeholder="Search  {{header}}" /></th>
				</tr>
			</tfoot>
		</table>
		
		<!--Added by vikash
		<p>Showing {{from}} to {{to}} records.</p>
		<a href="javascript:{}" ng-click="getPagedData('prev')" id="prev" data-id="prev" style="background: #ddd; border-radius: 3px; padding-left: 5pt; padding-right: 5pt; font-size: 15pt; font-family: bold; border: 1px solid #ccc;">Prev</a>
		<a href="javascript:{}" ng-click="getPagedData('next')" data-id="next" style="background: #ddd; border-radius: 3px; padding-left: 5pt; padding-right: 5pt; font-size: 15pt; font-family: bold; border: 1px solid #ccc;">Next</a>
		-->
	</div>
</div>
    